.buy-ticket{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
}

#buy-ticket-data{
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#buy-ticket-data h1{
    color: var(--primary-color);
}

.data_purchase{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.data_purchase li{
    list-style: none;
}

.data_purchase li h2{
    font-size: 20px;
    font-weight: 600;
}


#purchase_actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#purchase_actions button {
    width: 200px;
    height: 48px;
}

#list_purchase {
    height: 100%;
    width:90%;
    max-height: 500px;
    background: #EBF5EB;
    border-radius: 14px;
}

.empty-state {
    text-align: center;
    padding: 40px 20px;
    opacity: 0.40;
}

.empty-state img {
    max-width: 250px;
}

.empty-state p {
    color: #2EA062;
    font-size: 20px;
    font-weight: bold;
}

.shopping-list {
    max-height: 400px;
    overflow-y: auto;
}

.product-item {
    padding: 12px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}

#info-event-ticket{
    height: 90%;
    width: 20%;
}

#info-event-ticket img{
    display: block;
    margin: 0 auto 0px auto;
    width: 200px;
    height: auto;
}

.form-discount {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}